app/stage/protyle/** linguist-vendored
/app/appearance/fonts/LxgwWenKai-Lite-1.501/LXGWWenKaiLite-Regular.ttf filter=lfs diff=lfs merge=lfs -text
/app/pandoc/pandoc-darwin-amd64.zip filter=lfs diff=lfs merge=lfs -text
/app/pandoc/pandoc-darwin-arm64.zip filter=lfs diff=lfs merge=lfs -text
/app/pandoc/pandoc-linux-amd64.zip filter=lfs diff=lfs merge=lfs -text
/app/pandoc/pandoc-linux-arm64.zip filter=lfs diff=lfs merge=lfs -text
/app/pandoc/pandoc-windows-amd64.zip filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/mermaid/icons.json filter=lfs diff=lfs merge=lfs -text
/third_party/go/go-sqlite3/sqlite3-binding.c filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/basic/AnnotationDemo.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/import/CenteredGraySepia.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/mixed/ImagesTextAndPDFWMViaWatermarkMap.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/fonts/unifont-13.0.03.ttf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/fonts/unifont_jp-13.0.03.ttf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/resources/mountain.tif filter=lfs diff=lfs merge=lfs -text
/app/appearance/fonts/Noto-COLRv1-2.047/Noto-COLRv1.woff2 filter=lfs diff=lfs merge=lfs -text
/app/elevator/elevator-amd64.exe filter=lfs diff=lfs merge=lfs -text
/app/elevator/elevator-arm64.exe filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/echarts/echarts.min.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/graphviz/viz.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/highlight.js/highlight.min.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/lute/lute.min.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/mathjax/tex-svg-full.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/mermaid/mermaid-zenuml.min.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/mermaid/mermaid.min.js filter=lfs diff=lfs merge=lfs -text
/app/stage/protyle/js/pdf/pdf.worker.min.mjs filter=lfs diff=lfs merge=lfs -text
/third_party/go/epub/data/test.epub filter=lfs diff=lfs merge=lfs -text
/third_party/go/lute/javascript/lute.min.js filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/booklet/BookletFromImagesA4_2Up.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/booklet/BookletFromImagesA4_4Up.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/booklet/HardbackBookFromPDF.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/bookmarks/bookmarkSimple.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/bookmarks/bookmarkTree.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/bookmarks/bookmarkTreeNoBookmarks.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/fonts/user/Unifont-JPMedium_BMP.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/fonts/user/UnifontMedium_BMP.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/arabic.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/armenian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/azerbaijani.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/bangla.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/hebrew.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/hindi.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/marathi.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/persian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/thai.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demo/urdu.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/demoSinglePage/arabic.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/fill/arabic.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/lock/arabic-locked.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/lock/arabic-unlocked.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/form/reset/arabic-reset.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/grid/GridFromImages.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/import/Full.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/nup/NUpFromImages.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/nup/NUpFromPDF.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/mixed/AlternatingPageNumbersViaWatermarkMap.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/mixed/AlternatingPageNumbersViaWatermarkMapLowLevel.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/mixed/AlternatingPageNumbersViaWatermarkSliceMap.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Arabic.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Armenian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Azerbaijani.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Bangla.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Belarusian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Chinese[[:space:]]simple.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Chinese[[:space:]]traditional.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/English.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/French.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/German.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Greek.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Hebrew.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Hindi.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Hungarian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Indonesian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Italian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Japanese.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Korean.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Marathi.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Persian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Polish.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Portuguese.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Russian.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Spanish.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Swahili.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Swedish.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Thai.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Turkish.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Urdu.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/samples/stamp/text/utf8/Vietnamese.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/BuildingWebappsWithGo.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/CenterOfWhy.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/ECSTR11-01.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/FOSDEM14_HPC_devroom_14_GoCUDA.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/HL1396.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/VectorApple.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/WaldenFull.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/fonts/unifont_upper-13.0.03.ttf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/gobook.0.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/mountain.pdf filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/resources/mountain.png filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/pkg/testdata/resources/test.wav filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/resources/nup16img.png filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/resources/nup4img.png filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/resources/wmi1abs.png filter=lfs diff=lfs merge=lfs -text
/third_party/go/pdfcpu/resources/wmi4.png filter=lfs diff=lfs merge=lfs -text
/third_party/go/vitess-sqlparser/tidbparser/parser/parser.go filter=lfs diff=lfs merge=lfs -text
