.protyle-content {
  > .protyle-wysiwyg--block-lines,
  > .protyle-wysiwyg--heading-levels {
    overflow-x: visible;
  }
}

.protyle-wysiwyg {
  &--block-lines {
    counter-reset: sf-block-line;
  }

  &--block-lines > [data-node-id],
  &--heading-levels [data-type="NodeHeading"] {
    overflow: visible;
    contain: style;
  }

  &--block-lines > [data-node-id] > [spellcheck],
  &--heading-levels [data-type="NodeHeading"] > [spellcheck] {
    position: relative;
  }

  &--block-lines > [data-node-id] > [spellcheck]::before,
  &--heading-levels [data-type="NodeHeading"] > [spellcheck]::before {
    position: absolute;
    right: calc(100% + 4px);
    top: 0;
    max-width: calc(100vw - 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--b3-theme-on-surface-light);
    display: block;
    font-size: 11px;
    font-weight: 500;
    height: calc(var(--b3-font-size-editor) * 1.625);
    line-height: calc(var(--b3-font-size-editor) * 1.625);
    text-align: right;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
  }

  &--block-lines > [data-node-id] > [spellcheck]::before {
    content: counter(sf-block-line);
    counter-increment: sf-block-line;
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h1"] > [spellcheck]::before {
    content: "H1";
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h2"] > [spellcheck]::before {
    content: "H2";
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h3"] > [spellcheck]::before {
    content: "H3";
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h4"] > [spellcheck]::before {
    content: "H4";
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h5"] > [spellcheck]::before {
    content: "H5";
  }

  &--heading-levels [data-type="NodeHeading"][data-subtype="h6"] > [spellcheck]::before {
    content: "H6";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h1"] > [spellcheck]::before {
    content: counter(sf-block-line) " H1";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h2"] > [spellcheck]::before {
    content: counter(sf-block-line) " H2";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h3"] > [spellcheck]::before {
    content: counter(sf-block-line) " H3";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h4"] > [spellcheck]::before {
    content: counter(sf-block-line) " H4";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h5"] > [spellcheck]::before {
    content: counter(sf-block-line) " H5";
  }

  &--block-lines.protyle-wysiwyg--heading-levels > [data-type="NodeHeading"][data-subtype="h6"] > [spellcheck]::before {
    content: counter(sf-block-line) " H6";
  }
}
